<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="customers">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Customers</ion-label>
    </ion-tab-button>
       <ion-tab-button tab="sales">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Sales</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
